In [ ]:
2+3

5

In [ ]:
a = 10
b = "bbb"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
a=a +10
print(a)
a+=10
print(a)

20
30

In [ ]:
print(a/3)
print(10/3)
print(10//3)
print(10%3)
print(2**5)

10.0
3.3333333333333335
3
1
32

In [ ]:
#my first comment
#my second comment
print("hello python")

hello python

In [ ]:
a=input("enter your name")
print("hi", a)

enter your nameSandeep
hi Sandeep

In [ ]:
a=int(input("enter your experinece"))
print(a)
print(type(a))
a=a+10
print(a)

enter your experinece9
9
<class 'int'>
19

In [ ]:
from enum import STRICT
string1 = "Introduction to Python Programming. This section covers topic string"
string1[0]
string1[:]
string1[10:]
string1[14:20]
string1[::-1]
string1*5
string1+ "Thank You"
len(string1)
string1.count("r")
string1.count("t",5,50)
string1.find("t")
string1.find("t",10,50)
string1.find("z")
string1.strip("g")

'Introduction to Python Programming. This section covers topic strin'

In [ ]:
list1=[]
print(list1)
list1=[10,"maths",35.69,"sameer"]
print(list1)
list1[0]
list1[1:3]
list1[2:]
list1[1] = 20
print(list1)
list1.insert(1,50)
print(list1)
list1.remove(50)
print(list1)
list1.pop(2)
print(list1)
tuple1=(50,100,"nest")
print(tuple1)

[]
[10, 'maths', 35.69, 'sameer']
[10, 20, 35.69, 'sameer']
[10, 50, 20, 35.69, 'sameer']
[10, 20, 35.69, 'sameer']
[10, 20, 'sameer']
(50, 100, 'nest')

In [ ]:
dict1={"JAN":1,"FEB":2}
print(dict1)
dict1["JAN"]
dict1.keys()
dict1.values()

{'JAN': 1, 'FEB': 2}

dict_values([1, 2])

In [ ]:
a=10
if(a!=10):
   print("true")
else:
   print("false")
a=10
if(a==3):
   print(3)
elif(a==5):
   print(5)
else:
  print("no match found")

false
no match found

In [ ]:
msg=["hi","hello"]
new=input("enter a greeting")
if new in msg:
  print("existing message")
else:
  msg.append(new)
  print(msg)

enter a greetinghow are you
['hi', 'hello', 'how are you']